{% extends "login_app/base.html" %}
{% block content %}
<h1>Reset Password</h1>
<hr>
<form action="{% url 'login_app:password_reset' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="user" placeholder="User Name">
    <br>
    <input type="password" name="password" placeholder="New Password">
    <br>
    <input type="password" name="confirm_password" placeholder="Repeat Password">
    <br>
    <input type="text" name="token" placeholder="Code">
    <br>
    <button>Submit</button>
</form>
{% endblock %}